.lista-suspensa {
  margin: 24px 0px;
}

.lista-suspensa label {
  display: block;
  margin-bottom: 8px;
  font-size: 24px;
}

.lista-suspensa select {
  padding: 8px;
  font-size: 24px;
  padding: 12px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  border: none;
  width: 97%;
}
